@model AV_MVC1.Models.Client

@{
    ViewBag.Title = "ShowClient";
}

@if (Model.age < 18)
{
    <h2 style="color:red">Potreben e nadzor od roditel ili staratel</h2>
}
else
{
    <h2>@Model.name</h2>
    <h5>Name: @Model.name - @Model.MovieCard</h5>
    <h5>Age: @Model.age</h5>
    <h5>Phone: @Model.phone</h5>
    <h5>Adress: @Model.adress</h5>
}


